<div class="container">
	<div class="row">
		<div class="col-md-5 textblock" style="color:#FF7800;">
		<h2><img src="http://cliparts.co/cliparts/rcL/gEe/rcLgEe6c8.png" style="width:30px;">Why shop with us?</h2>
			<p>Welcome to buybuy Bulldog! Our mission is to ensure that new and expectant dog owners have everything they need to confidently welcome their puppy and navigate the transitions of life as a family.
			</p>
			<p>
			In the journey of dog parenthood there are fun parts and messy parts, celebrations and challenges, dreamy snuggles and sleepless nights. We’re thrilled to be here for you every step of the way, with helpful guidance and an amazing selection of everything from the best of the best doggy gear along with everybody’s favorites – all at everyday low prices.
			</p>
			<p>
			Shop online where you can explore thousands of products first-hand, and let our expert associates help you prepare for meal time, playtime, tantrums, and everything in between. </p>
			<h2>
			<img src="http://cliparts.co/cliparts/rcL/gEe/rcLgEe6c8.png" style="width:30px;">Expert guidance for your needs
			</h2>
			<p>
			Yes, your perfect, tiny puppy is going to take over your home, and your life. He or she is going to need lots of stuff, and then more stuff. What to buy? Whether you’re awaiting your first dog and overwhelmed with registry choices, or you’re gearing yourself up for the next cute doggy, it’s hard to sort through the noise of the Internet, your friends’ suggestions, ads, and more.
			</p>
			</p>
			At buybuy Bulldog, our product experts will understand your needs, explain the options, and help you make the best choices for you and your family. We’ll help you choose from over 30,000 items, including furniture, footies, and everything else you'll need.
			</p>
		</div>
		<div class="col-md-5">
			<img src="http://i.imgur.com/9X1IbGq.png" alt="Smiley Wally" style="width:100%;">
		</div>
		<div class="col-md-2 well">
      		<p><h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp Free Support</h5><p>
        	We'll help you figure out which treats and toys are safe for your breed. Just call or e-mail us.</p></p>
      		<p><h5><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp Quality Assurance</h5><p>We check all the produts we ship so you can rely on us. we only source from the most pretentious local organic and gluten free sources</p></p>
      		<p><h5><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp Next Day Devliery</h5>Order before 4pm and your order will be with you the next business day.</p>
		</div>
	</div>
</div>