<div class='container'>
	<div class="row">
		<div class="col-md-5" style="color:#FF7800;">
			<h2><img src="http://cliparts.co/cliparts/rcL/gEe/rcLgEe6c8.png" style="width:30px">Get in touch with us, we can't wait to here from you!</h2>
			<p>	

			This site was created as a mockup of a eccommerce site by Matthew Gomez. Enjoy and poke around. The Github repo can be found at: <a href="https://github.com/owl975/bulldog_shop"> Github For BuyBuyBulldog</a>.
			</p>
			<hr>

			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			</p>			
		</div>
		<div class="col-md-5">
			<img src="http://i.imgur.com/b29ermS.png" alt="Smiley Wally" style="width:100%;">
		</div>

		<div class="col-md-2 well">
      		<p><h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp Free Support</h5><p>
        	We'll help you figure out which treats and toys are safe for your breed. Just call or e-mail us.</p></p>
      		<p><h5><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp Quality Assurance</h5><p>We check all the produts we ship so you can rely on us. we only source from the most pretentious local organic and gluten free sources</p></p>
      		<p><h5><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp Next Day Devliery</h5>Order before 4pm and your order will be with you the next business day.</p>	
		</div>
	</div>
</div>
