/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.thumbnail {
  height: 200px;
}

 a {
   color: #2ab29a;
 }

 button {
  background-color: #fbd668;
  color: #2ab29a;

 }

.footer {
  width:50%;
  color: #FF7800;
  font-size: 50%;
  float:right;
  background-color:#fbd668;
}

.footerpic {
  width:50%;
  height:186px;
  background-image: url("http://i.imgur.com/VuuIpiW.png");
  background-size: cover;
  float:right;


}

.navbar-default {
  background-color: #fbd668;
  border-color: #fbd885;
}
.navbar-default .navbar-brand {
  color: #2ab29a;
  font-family: 'Coda', cursive;
  font-weight: 800;

}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fbfbfb;
  font-family: 'Coda', cursive;
}
.navbar-default .navbar-text {
  color: #2ab29a;
}
.navbar-default .navbar-nav > li > a {
  color: #2ab29a;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fbfbfb;
  background-color: #fbd885;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fbfbfb;
  background-color: #fbd885;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fbfbfb;
  background-color: #fbd885;
}
.navbar-default .navbar-toggle {
  border-color: #fbd885;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fbd885;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2ab29a;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2ab29a;
}
.navbar-default .navbar-link {
  color: #2ab29a;
}
.navbar-default .navbar-link:hover {
  color: #fbfbfb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2ab29a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbfbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfbfb;
    background-color: #fbd885;
  }
}