// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
margin-top: -75px;
height: 350px;
background-image: url("http://i.imgur.com/DlvafNf.png");
background-size: cover;
color: #FF7800;
background-position: 0% 0% 0% -50%;
}

.wallyquote {
	
	font-family: 'Rock Salt', cursive;
}

.quote {
	margin-right: 25px;

}

.textblock {
	margin-bottom: 50px;

}

.well {
	
	background-color: #fbd668;
	color: #2ab29a;
}